{extends file = 'layout.html'}
{{block name=head}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>错误</title>
<link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet">
<link href="/static/css/error.css" type="text/css" rel="stylesheet">
{{/block}}
{{block name=main}}
<!-- 主体内容开始 -->
{{if $nologin}}
<div class="text">
    <h1>未登录</h1>
    <h3>
        你还未登录，暂无权限查看此页面,回到
        <a href="/">首页</a>,
        <a href="/user/login.html">
            登录
        </a>
    </h3>
</div>
{{else if $noadmin}}
<div class="text">
    <h1>没有权限</h1>
    <h3>
        你不是管理员，暂无权限查看此页面,回到
        <a href="/">首页</a>,
        <a href="javascript:history.back(-1)">
            返回上一页
        </a>
    </h3>
</div>
{{else}}
<div class="text">
    <h1>404</h1>
    <h3>
        页面走丢了，回到
        <a href="/">首页</a>,
        <a href="javascript:history.back(-1)">
            返回上一页
        </a>
    </h3>
</div>
{{/if}}
<!-- 主体内容结束 -->
{{/block}}
{{block name=js}}
<script src="/static/js/error.js"></script>
{{/block}}