{extends file = 'layout.html'}
{{block name=head}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>用户管理</title>
<link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet">
<link href="/static/css/admin.css" type="text/css" rel="stylesheet">
{{/block}}
{{block name=main}}
<!-- 主体内容开始 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!-- 列表组开始 -->
            <ul class="list-group manage-list">
                <li class="list-group-item">
                    <a href="/user/manage/article/1.html" {{if $type == 'article'}} style="color: blue;" {{/if}}>
                        文章管理
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/user/manage/comment/1.html" {{if $type == 'comment'}} style="color: blue;" {{/if}}>
                        评论管理
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/user/manage/follow/1.html" {{if $type == 'follow'}} style="color: blue;" {{/if}}>
                        关注管理
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/user/manage/fans/1.html" {{if $type == 'fans'}} style="color: blue;" {{/if}}>
                        粉丝管理
                    </a>
                </li>
                {{if $username !== $admin}}
                <li class="list-group-item">
                    <a href="/user/manage/receive/1.html" {{if $type == 'receive'}} style="color: blue;" {{/if}}>
                        私信管理
                    </a>
                </li>
                {{/if}}
            </ul>
            <!-- 列表组结束 -->
        </div>
        <div class="col-md-10 manage-item" {{if $type == 'article'}} style="display: block;" {{/if}}>
            <table class="table table-hover table-bordered text-center">
                <fieldset>
                    <legend class="text-center">文章管理</legend>
                </fieldset>
                <thead>
                    <tr>
                        <th scope="col">标题</th>
                        <th scope="col">状态</th>
                        <th scope="col">最后更新</th>
                        <th scope="col">分类</th>
                        <th scope="col">评论数</th>
                        <th scope="col">点赞数</th>
                        <th scope="col">收藏数</th>
                        <th scope="col">分享数</th>
                        <th scope="col">去阅读</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody id="article">
                    {{foreach from=$articles item=articlesItem}}
                    <tr>
                        <td title="{{$articlesItem.title}}">
                            {{$articlesItem.title|truncate_cn:"10":"..."}}
                        </td>
                        <td>
                            {{if $articlesItem.status == 1}}
                            正常
                            {{else}}
                            拉黑
                            {{/if}}
                        </td>
                        <td>
                            {{$articlesItem.updated_at}}
                        </td>
                        <td>
                            {{$articlesItem.category}}
                        </td>
                        <td>
                            {{$articlesItem.comment_count}}
                        </td>
                        <td>
                            {{$articlesItem.praise_count}}
                        </td>
                        <td>
                            {{$articlesItem.collect_count}}
                        </td>
                        <td>{{$articlesItem.share_count}}</td>
                        <td><a href="/article/{{$articlesItem.article_id}}.html">文章链接</a>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm editArticle" onclick="editArticle(this)"
                                data-article-id={{$articlesItem.article_id}}>
                                编辑
                            </button>
                            <button class="btn btn-primary btn-sm" onclick="delArticle(this)"
                                data-category={{$articlesItem.category}} data-article-id={{$articlesItem.article_id}}>
                                删除
                            </button>
                        </td>
                    </tr>
                    {{/foreach}}
                </tbody>
            </table>
            <!-- 分页开始 -->
            {{$articlePage}}
            <!-- 分页结束 -->
        </div>
        <div class="col-md-10 manage-item" {{if $type == 'comment'}} style="display: block;" {{/if}}>
            <table class="table table-hover table-bordered text-center">
                <fieldset>
                    <legend class="text-center">评论管理</legend>
                </fieldset>
                <thead>
                    <tr>
                        <th scope="col">评论内容</th>
                        <th scope="col">评论时间</th>
                        <th scope="col">用户</th>
                        <th scope="col">文章链接</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody id="comment">
                    {{foreach from=$comments item=commentsItem}}
                    <tr>
                        <td title="{{$commentsItem.content}}">
                            {{$commentsItem.content|truncate_cn:"20":"..."}}
                        </td>
                        <td>
                            {{$commentsItem.comment_at}}
                        </td>
                        <td>
                            {{$commentsItem.username}}
                        </td>
                        <td>
                            <a href="/article/{{$commentsItem.article_id}}.html">文章链接</a>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" onclick="delComment(this)"
                                data-article-id={{$commentsItem.article_id}}
                                data-comment-id={{$commentsItem.comment_id}}>
                                删除
                            </button>
                        </td>
                    </tr>
                    {{/foreach}}
                </tbody>
            </table>
            <!-- 分页开始 -->
            {{$commentPage}}
            <!-- 分页结束 -->
        </div>
        <div class="col-md-10 manage-item" {{if $type == 'follow'}} style="display: block;" {{/if}}>
            <table class="table table-hover table-bordered text-center">
                <fieldset>
                    <legend class="text-center">关注管理</legend>
                </fieldset>
                <thead>
                    <tr>
                        <th scope="col">用户</th>
                        <th scope="col">关注时间</th>
                        <th scope="col">个人主页</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody id="follow">
                    {{foreach from=$follows item=followsItem}}
                    <tr>
                        <td>
                            {{$followsItem.author}}
                        </td>
                        <td>
                            {{$followsItem.follow_at}}
                        </td>
                        <td>
                            <a href="/user/{{$followsItem.author}}.html">
                                个人主页
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary card-link" onclick="delFollow(this)"
                                data-author={{$followsItem.author}}>
                                取消关注
                            </button>
                        </td>
                    </tr>
                    {{/foreach}}
                </tbody>
            </table>
            <!-- 分页开始 -->
            {{$followPage}}
            <!-- 分页结束 -->
        </div>
        <div class="col-md-10 manage-item" {{if $type == 'fans'}} style="display: block;" {{/if}}>
            <table class="table table-hover table-bordered text-center">
                <fieldset>
                    <legend class="text-center">粉丝管理</legend>
                </fieldset>
                <thead>
                    <tr>
                        <th scope="col">用户</th>
                        <th scope="col">关注时间</th>
                        <th scope="col">个人主页</th>
                    </tr>
                </thead>
                <tbody id="fans">
                    {{foreach from=$fans item=fansItem}}
                    <tr>
                        <td>
                            {{$fansItem.username}}
                        </td>
                        <td>
                            {{$fansItem.follow_at}}
                        </td>
                        <td>
                            <a href="/user/{{$fansItem.username}}.html">
                                个人主页
                            </a>
                        </td>
                    </tr>
                    {{/foreach}}
                </tbody>
            </table>
            <!-- 分页开始 -->
            {{$fansPage}}
            <!-- 分页结束 -->
        </div>
        {{if $username !== $admin}}
        <div class="col-md-10 manage-item" {{if $type == 'receive'}} style="display: block;" {{/if}}>
            <table class="table table-hover table-bordered text-center">
                <fieldset>
                    <legend class="text-center">管理员私信管理</legend>
                </fieldset>
                <thead>
                    <tr>
                        <th scope="col">私信内容</th>
                        <th scope="col">私信时间</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody id="receive">
                    {{foreach from=$receives item=receivesItem}}
                    <tr>
                        <td>
                            {{$receivesItem.content}}
                        </td>
                        <td>
                            {{$receivesItem.receive_at}}
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" onclick="delReceive(this)"
                                data-receive-id={{$receivesItem.receive_id}}>
                                删除
                            </button>
                        </td>
                    </tr>
                    {{/foreach}}
                </tbody>
            </table>
            <!-- 分页开始 -->
            {{$receivePage}}
            <!-- 分页结束 -->
        </div>
        {{/if}}
    </div>
</div>
<!-- 主体内容结束 -->
{{/block}}
{{block name=js}}
<script src="/static/js/manage.js"></script>
{{/block}}