{extends file = 'layout.html'}
{{block name=head}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>搜索</title>
<link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet">
<link href="/static/css/self.css" type="text/css" rel="stylesheet">
{{/block}}
{{block name=header}}
<!--页头说明 开始-->
<div class="container-fluid">
    <nav class="row">
        <div class="col-md-8">
            <!-- 不加这container时,需要在最新博文前面加两个空格 -->
            <div class="container">
                <div class="navbar-header">
                    <h2 class="type">{{$type}}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="navbar-header">
                <h2 class="d-flex justify-content-center">推荐</h2>
            </div>
        </div>
    </nav>
</div>
<!-- 页头说明结束 -->
{{/block}}
{{block name=main}}
<!-- 主体内容开始 -->
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <!-- 左边文章列表和分页开始 -->
            <div class="col-md-8">
                <div>
                    <!-- 左边文章列表开始 -->
                    <table class="table table-striped table-bordered">
                        {{if $type == '用户名查询结果'}}
                        {{foreach from=$users item=usersItem}}
                        <tr>
                            <td>
                                用户名：<a href="/user/{{$usersItem.username}}.html">
                                    {{$usersItem.username}}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    个人介绍：{{$usersItem.introduction}}
                                </p>
                                <div class="justify-content-start text-dark">
                                    <span>
                                        注册时间：{{$usersItem.created_at}}
                                    </span>
                                    <span class="offset-md-1">
                                        文章数
                                        {{$usersItem.article_count}}
                                    </span>
                                    <span class="offset-md-1">
                                        关注数
                                        {{$usersItem.follow_count}}
                                    </span>
                                    <span class="offset-md-1">
                                        粉丝数
                                        {{$usersItem.fans_count}}
                                    </span>
                                </div>
                            </td>
                        </tr>
                        {{/foreach}}
                        {{else}}
                        {{foreach from=$articles item=articlesItem}}
                        <tr>
                            <td>
                                <a href="/article/{{$articlesItem.article_id}}.html" title="{{$articlesItem.title}}">
                                    {{$articlesItem.title|truncate_cn:"30":"..."}}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p title="{{$articlesItem.content}}">
                                    {{$articlesItem.content|truncate_cn:"30":"..."}}</p>
                                <div class="justify-content-start text-dark">
                                    <span>
                                        {{$articlesItem.updated_at}}
                                    </span>
                                    <span class="offset-md-1">
                                        收藏数
                                        {{$articlesItem.collect_count}}
                                    </span>
                                    <span class="offset-md-1">
                                        评论数
                                        {{$articlesItem.comment_count}}
                                    </span>
                                </div>
                            </td>
                        </tr>
                        {{/foreach}}
                        {{/if}}
                    </table>
                    <!-- 左边文章列表结束 -->
                </div>
                <!-- 分页开始 -->
                {{if $userPage}}
                {{$userPage}}
                {{/if}}
                {{if $articlePage}}
                {{$articlePage}}
                {{/if}}
                <!-- 分页结束 -->
            </div>
            <!-- 左边文章列表和分页结束 -->

            <!--右边推荐列表开始-->
            <div class="col-md-4">
                {{foreach from=$recommends item=recommendsItem}}
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="/article/{{$recommendsItem.article_id}}.html" title="{{$recommendsItem.title}}">
                            {{$recommendsItem.title|truncate_cn:"20":"..."}}
                        </a>
                        <span class=" badge badge-primary badge-pill">hot</span>
                    </li>
                </ul>
                {{/foreach}}
            </div>
            <!-- 右边推荐列表结束 -->
        </div>
    </div>
</div>
<!-- 主体内容结束 -->
{{/block}}
{{block name=js}}
<script src="/static/js/search.js"></script>
{{/block}}