{extend name='public/new'}


<!-- Begin Page Content -->
{block name="content"}
<div class="container-fluid">

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">私信管理</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th scope="col">私信id</th>
              <th scope="col">用户名</th>
              <th scope="col">私信内容</th>
              <th scope="col">发送时间</th>
              <th scope="col">用户主页</th>
              <th scope="col">操作</th>
            </tr>
          </thead>
          <tbody>
            {volist name='messages' id='item'}
            <tr>
              <td>
                {$item.id}
              </td>
              <td>
                {$item.author}
              </td>
              <td title="{$item.content}">
                {$item.content|truncate=10}
              </td>
              <td>
                {$item.message_time}
              </td>
              <td>
                <a href="/user/{$item.author}.html">用户主页</a>
              </td>
              <td>
                <button class="btn btn-primary btn-sm" id="addMessage" onclick="addMessage()"
                  data-author={$item.author}>
                  私信
                </button>
                <button class="btn btn-primary btn-sm" onclick="delMesssage(this)" data-message-id={$item.id}>
                  删除
                </button>
              </td>
            </tr>
            {/volist}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
{/block}
<!-- End of Page Content -->

{block name="js"}
<!-- Bootstrap core JavaScript-->
<script src="__STATIC__/lib/vendor/jquery/jquery.min.js"></script>
<script src="__STATIC__/lib/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="__STATIC__/lib/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="__STATIC__/lib/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="__STATIC__/lib/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="__STATIC__/lib/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="__STATIC__/lib/js/demo/datatables-demo.js"></script>
{/block}