{extend name='public/new'}


<!-- Begin Page Content -->
{block name="content"}
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Tables</h1>
  <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more
    information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
      DataTables documentation</a>.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>用户id</th>
              <th>用户名</th>
              <th>角色</th>
              <th>文章数</th>
              <th>关注数</th>
              <th>粉丝数</th>
              <th>注册时间</th>
              <th>个人主页</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {volist name='$users' id='item'}
            <tr>
              <td>
                {$item.id}
              </td>
              <td title="{$item.username}">
                {$item.username|truncate=10}
              </td>
              <td>
                {eq name='$item.role' value='1'}
                管理员
                {else /}
                普通用户
                {/eq}
              </td>
              <td>
                {$item.article_count}
              </td>
              <td>
                {$item.follow_count}
              </td>
              <td>
                {$item.fans_count}
              </td>
              <td>
                {$item.create_time}
              </td>
              <td>
                <a href="/user/{$item.username}.html" title="{$item.username}">{$item.username|truncate=10}
                </a>
              </td>
              <td>
                {$item.status}
              </td>
              <td>
                {eq name='$item.status' value="正常"}
                <button class="btn btn-primary btn-sm" onclick="defriendUser(this)" data-user-id={$item.id}>
                  拉黑
                </button>
                {else /}
                <button class="btn btn-primary btn-sm" onclick="normalUser(this)" data-user-id={$item.id}>
                  恢复
                </button>
                {/eq}
                <button class="btn btn-primary btn-sm" onclick="delUser(this)" data-user-id={$item.id}>
                  删除
                </button>
              </td>
            </tr>
            {/volist}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
{/block}
<!-- End of Page Content -->

{block name="js"}
<!-- Bootstrap core JavaScript-->
<script src="__STATIC__/lib/vendor/jquery/jquery.min.js"></script>
<script src="__STATIC__/lib/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="__STATIC__/lib/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="__STATIC__/lib/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="__STATIC__/lib/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="__STATIC__/lib/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="__STATIC__/lib/js/demo/datatables-demo.js"></script>
{/block}