#praise{
    cursor: pointer;
}
#collect {
    cursor: pointer;
}
#share {
    cursor: pointer;
}

.delComment{
    cursor: pointer;
}

.wang-toolbar {
    border: 1px solid #ccc;
}

.wang-text {
    border: 1px solid #ccc;
    height: 100px;
}