#passwordEye {
    position: absolute;
    left: 750px;
    bottom: -2px;
    display: block;
    z-index: 2;
}

#conPasswordEye {
    position: absolute;
    left: 750px;
    bottom: -2px;
    display: block;
    z-index: 2;
}