.manage-ul {
    list-style: none;
}

.manage-ul .manage-list {
    cursor: pointer;
    float: left;
}

.current {
    color: rgb(142, 142, 221);
}

.manage-item {
    display: none;
}

.delComment {
    cursor: pointer;
}

.delCollect {
    cursor: pointer;
}

.delShare {
    cursor: pointer;
}

.delPraise {
    cursor: pointer;
}

