{extend name='public/layout'}
{block name='head'}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>首页</title>
{load href="__STATIC__/css/bootstrap.min.css" /}
{load href="__STATIC__/css/self.css" /}
{/block}
{block name='announcement'}
<!-- 公告开始 -->
<marquee behavior="scroll" direction="right">
    {volist name='announcements' id='item'}
    {$item.content}&nbsp;&nbsp;&nbsp;
    {/volist}
</marquee>
<!-- 公告结束 -->
{/block}
{block name='header'}
<!--页头说明 开始-->
<div class="container-fluid">
    <nav class="row">
        <div class="col-md-8">
            <div class="container">
                <div class="navbar-header">
                    <h2>最新博文</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="navbar-header">
                <h2 class="d-flex justify-content-center">推荐</h2>
            </div>
        </div>
    </nav>
</div>
<!-- 页头说明结束 -->
{/block}
{block name='main'}
<!-- 主体内容开始 -->
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <!-- 左边文章列表和分页开始 -->
            <div class="col-md-8">
                <div>
                    <!-- 左边文章列表开始 -->
                    <table class="table table-striped table-bordered">
                        {volist name='articles' id='item'}
                        <tr>
                            <td>
                                <a href="/article/{$item.id}.html" title="{$item.title}">
                                    {$item.title|truncate=10}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p title="{$item.content}">
                                    {$item.content|truncate=10}
                                </p>
                                <div class="justify-content-start text-dark">
                                    <span>
                                        {$item.update_time}
                                    </span>
                                    <span class="offset-md-1">
                                        收藏数
                                        {$item.collect_count}
                                    </span>
                                    <span class="offset-md-1">
                                        评论数
                                        {$item.comment_count}
                                    </span>
                                </div>
                            </td>
                        </tr>
                        {/volist}
                    </table>
                    <!-- 左边文章列表结束 -->
                </div>
                <!-- 分页开始 -->
                <div>
                    {$articles->render()}
                </div>
                <!-- 分页结束 -->
            </div>
            <!-- 左边文章列表和分页结束 -->

            <!--右边推荐列表开始-->
            <div class="col-md-4">
                {volist name='recommends' id='item'}
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="/article/{$item.id}.html" title="{$item.title}">
                            {$item.title|truncate=10}</a>
                        <span class=" badge badge-primary badge-pill">hot</span>
                    </li>
                </ul>
                {/volist}
            </div>
            <!-- 右边推荐列表结束 -->
        </div>
    </div>
</div>
<!-- 主体内容结束 -->
{/block}
{block name='js'}
{/block}