{extend name='public/layout'}
{block name='head'}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>写文章</title>
{load href="__STATIC__/css/bootstrap.min.css" /}
{load href="__STATIC__/css/self.css" /}
{/block}
{block name='main'}
<!-- 主体内容开始 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="text-center">
                写文章
            </h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="博文标题，最多50个字符" id="title">
                </div>
                <div id="content">

                </div>
                <br>
                <div class="form-group">
                    <select class="form-control" id="category">
                        {volist name='categorys' id='categorysItem'}
                        <option value="{$categorysItem.category}">{$categorysItem.category}</option>
                        {/volist}
                    </select>
                </div>
                <button type="button" class="btn btn-info btn-sm btn-block" id="publish" data-username={$username}>发表</button><br><br>
            </form>
        </div>
    </div>
</div>
<!-- 主体内容结束 -->
{/block}
{block name='js'}
{load href="__STATIC__/js/wangEditor.js" /}
{load href="__STATIC__/js/xss.js" /}
{load href="__STATIC__/js/write.js" /}
{/block}