{extend name='public/layout'}
{block name='head'}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>注册</title>
{load href=" __STATIC__/css/bootstrap.min.css" /}
{load href="__STATIC__/css/self.css" /}
{/block}
{block name='header'}
{/block}
{block name='main'}
<!-- 主体内容开始 -->
<div class="container">
    <div class="container">
        <div class="col-md-12">
            <div class="text-center">
                <h3>用户注册:</h3>
            </div>
        </div>
    </div>
    <!-- 表单开始 -->
    <form>
        <!-- 用户名开始 -->
        <div class="form-group">
            <label for="username">用户名：</label>
            <input type="text" class="form-control" placeholder="请输入用户名" name="username" id="username"
                onblur="checkUsername()" onfocus="userOriginal()">
            <small class="form-text text-muted" id="userMessage">
                <img src="/static/image/mess.png" id="userImg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请输入用户名，用户名至少包含1个字母，可以包含数字，4到16位
            </small>
        </div>
        <!-- 用户名结束 -->

        <!-- 密码开始 -->
        <div class="form-group">
            <label for="password">密码：</label>
            <input type="password" class="form-control" placeholder="请输入密码" name="password" id="password"
                onblur="checkPassword()" onfocus="passwordOriginal()">
            <div id="rePassword">
                <img src="/static/image/close.png" alt="显示密码" id="passwordEye" onclick="clickEye()">
            </div>
            <small class="form-text text-muted" id="passwordTip">
                <img src="/static/image/mess.png" id="passwordImg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码为6到16位，且必须包含数字，小写字母，大写字母和特殊字符
            </small>
        </div>
        <!-- 密码结束 -->

        <!-- 确认密码开始 -->
        <div class="form-group">
            <label for="confirm-password">确认密码：</label>
            <input type="password" class="form-control" placeholder="请再次输入密码" name="confirmPassword"
                id="confirmPassword" onblur="checkConPassword()" onfocus="conPasswordOriginal()">
            <span id="reConPassword">
                <img src="/static/image/close.png" alt="隐藏密码" id="conPasswordEye" onclick="clickConEye()">
            </span>
            <small class="form-text text-muted" id="conPasswordTip">
                <img src="/static/image/mess.png" id="conPasswordImg">
                &nbsp;&nbsp;&nbsp;&nbsp;
                确认密码
            </small>
        </div>
        <!-- 确认密码结束 -->

        <!-- 验证码开始 -->
        <div class="form-inline">
            <div class="form-group">
                <label for="confirm-password">验证码：</label>
                <input type="text" class="form-control" placeholder="请输入验证码" name="captcha" id="captcha">
                <img src="{:captcha_src()}" id="captcha_img">
                <a href="javascript:refreshVerify();">
                    看不清，换一张
                </a>
            </div>
        </div>

        <!-- 验证码结束 -->
        <button type="reset" class="btn btn-primary">重置</button>
        <button type="button" class="btn btn-primary" id="register">提交</button>
    </form>
    <!-- 表单结束 -->
</div>
<!-- 主体内容结束 -->
{/block}
{block name='js'}
{load href="__STATIC__/js/register.js" /}
{/block}