{extend name='public/layout'}
{block name='head'}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>个人主页</title>
{load href="__STATIC__/css/bootstrap.min.css" /}
{load href="__STATIC__/css/self.css" /}
{load href="__STATIC__/css/user.css" /}
{/block}
{block name='header'}
<!--页头说明开始-->
<div class="container-fluid">
    <div class="col-md-12">
        <nav class="row">
            <div class="col-md-9">
                <div class="container">
                    <div class="navbar-header">
                        <ul class="manage-ul">
                            <li class="h4 manage-list">
                                文章&nbsp;&nbsp;
                            </li>
                            {eq name='$users.username' value='$username'}
                            <li class="h4 manage-list">
                                评论&nbsp;&nbsp;
                            </li>
                            <li class="h4 manage-list">
                                点赞&nbsp;&nbsp;
                            </li>
                            <li class="h4 manage-list">
                                收藏&nbsp;&nbsp;
                            </li>
                            {/eq}
                            <li class="h4 manage-list">
                                分享&nbsp;&nbsp;
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container">
                    <div class="navbar-header">
                        <h2 class="d-flex justify-content-center">博主信息</h2>
                    </div>
                </div>
            </div>
        </nav>
    </div>

</div>
<!-- 页头说明结束 -->
{/block}
{block name='main'}
<!-- 主体内容开始 -->
<div class="container-fluid">
    <div class="col-md-12">
        <!-- 确保两列布局的关键 -->
        <div class="row">
            <div class="col-md-8">

                <div class="manage-item" {eq name='type' value='article' } style="display: block;" {/eq}> <table
                    class="table table-striped table-bordered ">
                    {volist name='articles' id='item'}
                    <tr>
                        <td>
                            <a href="/article/{$item.id}.html">{$item.title}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p title="{$item.content}">
                                {$item.content|truncate=30}
                            </p>
                            <div class="justify-content-start text-dark">
                                <span>
                                    {$item.update_time}
                                </span>
                                <span class="offset-md-1">
                                    收藏数
                                    {$item.collect_count}
                                </span>
                                <span class="offset-md-1">
                                    评论数
                                    {$item.comment_count}
                                </span>
                            </div>
                        </td>
                    </tr>
                    {/volist}
                    </table>

                </div>

                {if $users.username == $username}
                <div class="manage-item" {eq name='type' value='comment' } style="display: block;" {/eq}> <table
                    class="table table-striped table-bordered">
                    <tbody id="comment">
                        {volist name='comments' id='item'}
                        <tr>
                            <td>
                                <a href="/article/{$item.article_id}.html">{$item.title}</a>
                                <span class="offset-md-5">
                                    <span>作者:{$item.author}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span>评论时间:{$item.comment_time}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="delComment" onclick="delComment(this)"
                                        data-article-id={$item.article_id}
                                        data-comment-id={$item.id}>
                                        删除&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>{$item.content}</p>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                    </table>

                </div>

                <div class="manage-item" {eq name='type' value='praise' } style="display: block;" {/eq}> <table
                    class="table table-striped table-bordered">
                    <tbody id="praise">
                        {volist name='praises' id='item'}
                        <tr>
                            <td>
                                <a href="/article/{$item.article_id}.html">{$item.title}</a>
                                <span class="offset-md-2">作者:{$item.author}</span>
                                <span class="offset-md-2">点赞时间:{$item.praise_time}</span>
                                <span class="offset-md-1 delPraise" onclick="delPraise(this)"
                                    data-article-id={$item.article_id} data-praise-id={$item.id}>
                                    删除
                                </span>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                    </table>

                </div>

                <div class="manage-item" {eq name='type' value='collects' } style="display: block;" {/eq}> <table
                    class="table table-striped table-bordered">
                    <tbody id="collect">
                        {volist name='collects' id='item'}
                        <tr>
                            <td>
                                <a href="/article/{$item.article_id}.html" title="{$item.title}">
                                    {$item.title|truncate=10}
                                </a>
                                <span class="offset-md-2">作者:{$item.author}</span>
                                <span class="offset-md-2">收藏时间:{$item.collect_time}</span>
                                <span class="offset-md-1 delCollect" onclick="delCollect(this)"
                                    data-article-id={$item.article_id}
                                    data-collect-id={$item.id}>
                                    删除
                                </span>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                    </table>

                </div>
                {/if}

                <div class="manage-item" {eq name='type' value='shares' } style="display: block;" {/eq}> <table
                    class="table table-striped table-bordered">
                    <tbody id="share">
                        {volist name='shares' id='item'}
                        <tr>
                            <td>
                                <a href="/article/{$item.article_id}.html" title="{$item.title}">
                                    {$item.title|truncate=10}
                                </a>
                                <span class="offset-md-2">作者:{$item.author}</span>
                                <span class="offset-md-2">分享时间:{$item.share_time}</span>
                                {if $item.username == $username}
                                <span class="offset-md-1 delShare" onclick="delShare(this)"
                                    data-article-id={$item.article_id} data-share-id={$item.id}>
                                    删除
                                </span>
                                {/if}
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                    </table>

                </div>
            </div>

            <!-- 博主信息开始 -->
            <div class="col-md-4">
                <div class="container">
                    <!-- 个人信息列开始 -->
                    <div class="card" style="width: 26rem;">
                        <div class="card-body">
                            <h5 class="card-title">作者：<a href="/user/{$users.username}.html" class="text-info"
                                    id="author" data-author={$users.username}>
                                    {$users.username}</a>
                            </h5>
                            <h6>
                                个人介绍
                            </h6>
                            <div>
                                {$users.introduction}
                            </div>
                            <br>
                            <p class="card-text"></p>
                            <div class="text-dark d-flex justify-content-between">
                                <dl class="text-center">
                                    <dt>
                                        原创
                                    </dt>
                                    <dd>
                                        {$users.article_count}
                                    </dd>
                                </dl>
                                <dl class="text-center">
                                    <dt>
                                        粉丝
                                    </dt>
                                    <dd>
                                        {$users.fans_count}
                                    </dd>
                                </dl>
                                <dl class="text-center">
                                    <dt>
                                        获赞
                                    </dt>
                                    <dd>
                                        {$praise_count}
                                    </dd>
                                </dl>
                                <dl class="text-center">
                                    <dt>
                                        评论
                                    </dt>
                                    <dd>
                                        {$comment_count}
                                    </dd>
                                </dl>
                            </div>
                            {if condition="$users.username !== $username"}
                            <button type="button" class="btn btn-info card-link" id="follow" data-username={$username}
                                data-author={$users.username}>
                                {if condition="$followed != null"}
                                已关注
                                {else}
                                关注
                                {/if}
                            </button>
                            <button type="button" class="btn btn-success card-link" onclick="addMessage()"
                                id="addMessage" data-author={$users.username}>私信</button>
                            {else}
                            <a href="/user/manage.html" class="btn btn-primary card-link">管理</a>
                            <a href="/user/change.html" class="btn btn-danger card-link">
                                更改信息
                            </a>
                            {/if}
                        </div>
                    </div>
                    <div class="card" style="width: 26rem;">
                        <div class="card-body">
                            <h5 class="card-title">最新文章</h5>
                            <div>
                                {volist name='recents' id='item'}
                                <div>
                                    <a href="/article/{$item.id}.html" title="{$item.title}">
                                        {$item.title|truncate=20}
                                    </a>
                                </div>
                                {/volist}
                            </div>
                        </div>
                    </div>
                    <!-- 个人信息列结束 -->
                </div>
            </div>
            <!-- 博主信息结束 -->
        </div>
    </div>
</div>
<!-- 主体内容结束 -->
{/block}
{block name='js'}
{load href="__STATIC__/js/user.js" /}
{/block}